<h1>Update your profile</h1>
<p>Find me in app/views/users/new.html.erb</p>


 <ul>
    <li><%= link_to 'All Products', products_path %> </li>
    <!-- <li ><%= link_to 'Delete', @picture, :confirm => "Are you sure you want to delete this product?", :method => :delete  %> </li> -->
  </ul>
  <br> 

<%= render 'profile' %>



















