

<div class = "nav">
	<ul>
		<li><%= link_to 'Back', "/products/#{@product.id}" %> </li>
	<ul>
	<br>
</div>

<div class = "show_info">
  <h1>Edit</h1>
  <%= render 'form' %>   
</div>
<div class = "show_photo">
      <img src="<%= "#{@product.photo}" %>">
</div>