<h1>Products</h1>

<div class = "nav">
	<ul>
		<li><%= link_to "Add a Product", new_product_path %></li>
	<ul>
	<br>
</div>
 
<% @products.each do |product| %>

	<div class = 'index_display'>
		Product: <%= link_to product.name, product_path(product) %>
		<br>  
		Price: <%= number_to_currency(product.price) %>
		<br>
		Description: 
		<%= product[:description] %>
	</div>

	<br>	
<% end %>	